.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: 100px auto;
    background: rgb(255, 106, 106);
    border: 30px solid white;
    border-radius: 50px;
    padding: 3rem;
}

.meContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    gap: 20px;
}

.meContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

.img {
    width: 40%;
    border-radius: 30px;
}