.cards{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 10px;
}

@media (max-width: 700px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}